/*CSS3變數設定區:所有CSS的變數都必須在:root裡設定*/
:root{
    /*語法:--[變數名稱]:[變數值]*/
    --btn_h:100px;
    --btn_w:100px;
}
body{
    width:calc(var(--btn_w) * 4 + 30px);
    /*簡易內容置中*/
    margin: 0 auto;
    background-color:lightgray;
    border: 10px solid green;
}
h1{
    text-align: center;
}
.row{
    /*border: 1px solid red;*/
    height: calc(var(--btn_h) + 20px);
    
}
.btn{
    /*固定元素尺寸，讓margin跟padding不會影響到元素的總尺寸(內容尺寸內縮)*/
    box-sizing: border-box;
    border: 1px solid darkblue;
    background-color: lightblue;
    margin:10px 10px 10px 0;
    float: left;
    width:var(--btn_w);
    height: var(--btn_h);   
    line-height: var(--btn_h);
    /*文字置中method1:-line-height=height*/
    text-align: center;
    font-size: 3em;
    /*font-weight: bold;*/
    /*CSS:防止網頁內文字被選取，需加前墜詞*/
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}
.btn_R{
    margin:10px 0;
}
.btn:hover{
    box-shadow:2px 2px darkblue;
    }
.btn:active{
    box-shadow:none;
     position: relative;
     /*background-color: blue;*/
     top: 2px;
     left: 2px;
}
#ans{
    text-align: right;
    font-size: 5em;
    border: 5px dashed black
}