@font-face{
    font-family:'digital-clock-font';
    src: url("../font/digital-7.monoitalic.ttf");
}

.digit{
    font-family:'digital-clock-font';
    color: #0000ff;
    font-size: 1.5em;
    font-weight: bold;
}

body{
    /*width: 480px;*/
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
}
div{
    border: 1px solid lightseagreen;
}