* {
    box-sizing: border-box
}

body {
    width: 90vw;
    margin: 0 auto;
    background-color: wheat;
}

h1 {
    padding-bottom: 10px;
    border-bottom: 5px solid grey;
}

.hidden {
    display: none
}