#p1 {
  background-color: #E28383;
  color: red;
  font-size: 24px;
}
#p2 {
  background-color: #2FA8F4;
  color: #123B82;
  font-size: 16px;
}
#cont1 {
  border: 1px solid #34367D;
}
#cont1 ul {
  font-size: 24px;
  padding-left: 60px;
}
#cont1 ul li {
  background-color: #908080;
}
#cont1 ul li:hover {
  background-color: red;
  text-decoration: underline;
}
