* {
    box-sizing: border-box;
}

body {
    width: 95vw;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

section {
    border: 1px dashed black;
    border-bottom: 2px solid black;
    padding: 0.5rem;
    margin: 1rem;
}

.codeDemo {
    background-color: #d9d9d9;
    margin-bottom: 15px;
    padding: 0.5rem;
    box-shadow: 5px 5px #909090;
}

.result {
    /*width: 100%;*/
    /*height: 6rem;*/
    /*line-height: 3rem;*/
    margin: 1rem;
    padding: 1rem;
    border: 1px solid red;
}

.result * {
    margin: 0;
    padding: 0;
}

.prettyprint {
    /*display: none;*/
    max-height: 200px;
    overflow: auto;
}