*{
    font-family: "Source Sans Pro", "Arial", sans-serif;
}

body {
    width: 80vw;
    max-width: 960px;
    margin: 0 auto;
    background-color: #ccffcc;
}

figure figcaption{
    font-size: 1.8rem;
    font-weight: bold;
}
figure ul{
    padding-left: 20px;
}
figure li{
    font-size: 1.2rem;
    line-height: 1.8rem;
}
a {
    text-decoration: none;
    width: 100%;
    position: relative;
}

@keyframes ani1 {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

a::before {
    content: attr(href);
}

.effect1:hover::after {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border-bottom: 3px solid lime;
    position: absolute;
    top: 0;
    left: 0;
    animation: ani1 0.3s forwards;
}
.bd1{
    border: 1px solid red;
}
.container{
    margin: 10px;
    padding: 0 10px;
}
#title{
    font-size: 4rem;
    text-align: center;
    color:#009500;
    text-shadow:2px 2px #00ff00;
}